{% extends 'base.html.twig' %}
 
{% block title %}New Blog{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Blog</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_blog_index') }}"> 
                    View All Blogs
                </a>
            </div>
            <div class="card-body">
                 {{ include('blog/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
